PokemonCodec/Debug/
PokemonCodec/Release/

PokemonMemHack/Debug/
PokemonMemHack/Release/

PokemonRom/Debug/
PokemonRom/Release/

PokemonRomViewer/Debug/
PokemonRomViewer/Release/

ProcessHandler/Debug/
ProcessHandler/Release/

VisualBoyHandler/Debug/
VisualBoyHandler/Release/


.vs/
Debug/
*.vcxproj.user

